.App {
  text-align: center;
}

li {
  list-style-type: none;
  margin-bottom: 30px;
}

.minus {
  margin-right: 10px;
  color: red;
}

.plus {
  margin-right: 30px;
  margin-left: 10px;
  color: green;
}
